:root {
  --primary-color : #2d3748;
  --primary-hover-color : #1a202c;
  --border-color :#e2e8f0;
  --box-shadow-color : #42454b;
}
body {
  font-family: 'Roboto',sans-serif;
}
.card {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-bottom: 20px;

}
.card:hover {
  box-shadow: 0 0 10px 0 var(--box-shadow-color);
}
.card .card-img-top {
  border-radius: 5px 5px 0 0;
}
.card .card-body {
  padding: 20px;
}
.card .card-title {
  font-size: 18px;
  margin-bottom: 10px ;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card .card-text {
  font-size: 14px;
  line-height: 1.5;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.img {
  width: 400px;
  border-radius: 4px;
  border: 1px solid;
}
.card-img {
  height: 200px;
  overflow: hidden;
}
